

.TweetsIndex {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-end;
}


.TweetsIndex__Header {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 1em;
  padding-top: 1em;
}