.EditSidebar {
  position: absolute;
  display: flex;
  flex-direction: column;
  right: -33%;
  top: 0;
  z-index: 1;
  border-left: 1px solid rgba(0,0,0,0.25);
  background: #e6ecf0;
  height: 100%;
  width: 33%;
  -webkit-transition: right 1s;
  -moz-transition: right 1s;
  transition: right 1s;
  max-width: 350px;
} 
@media (max-width: 400px) {
  .EditSidebar {
    width: 50%;
    right: -50%;
  }
}
.open {
  -webkit-transition: right 1s;
  -moz-transition: right 1s;
  transition: right 1s;
  right: 0;
}

.EditSidebar h1 {
  box-sizing: border-box;
  margin: 0 .5em 0 .5em;
  padding: .5em 0 .5em 0;
  border-bottom: 1px solid rgba(0,0,0,0.25);
}

.EditSidebar__toggle {
  position: absolute;
  left: -2.5em;
  top: 1em;
  cursor: pointer;
}

.EditSidebar__buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 1.5em;
}
.EditSidebar__buttons button {
  width: 5em;
  /* height: 2em; */
  margin-left: .5em;
  margin-right: .5em;
}


.EditSidebar__columns {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

.EditSidebar__columns div {
  justify-content: center;
  background: white;
  width: 15%;
  height: 1.5em;
  line-height: 1.5em;
  vertical-align: center;
  border: 1px solid rgba(0,0,0,0.25);

}
.selected {
  background-color: grey;
}

.EditSidebar__columns div:hover {
  background-color: grey;
}
.EditSidebar__columns div:first-child {
  border-radius: 5px 0 0 5px;
}
.EditSidebar__columns div:last-child {
  border-radius: 0 5px 5px 0;
}

